/* Common */
#app {
    height: 100vh;
}

body {
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom, #009688 20%, #D7DBD8 20% 100%);
}

.background-chat-img {
    background-image: url("../img/mine.jpg");
    object-fit: cover;
    height: 100%;
}

/* Utilities */
.user-info,
.contact-chat {
    background-color: #EAEAEA;
}

.actions {
    display: flex;
    column-gap: 1rem;
    margin-right: 1rem;
}

.actions i {
    color: #B1B1B1;
}

.notification {
    background-color: #8EDAFC;
}

.notification-icon>i {
    font-size: 20px;
    background-color: white;
    border-radius: 50%;
    padding: 0.5rem;
    color: #8EDAFC;
}

.search-contacts {
    background-color: #FAFAFA;
}

.search-contacts input {
    border: none;
}

.contacts {
    background-color: white;
}

.contacts:hover {
    background-color: #FAFAFA;
}

.chat-actions {
    width: 20%;
}

.chat-actions i {
    color: #B1B1B1;
}

.send {
    background-color: #D5F9BA;
    padding: 1rem;
    width: 30%;
    border-radius: 1rem;
    align-self: flex-end;
}

.received {
    background-color: white;
    padding: 1rem;
    width: 30%;
    border-radius: 1rem;
    align-self: flex-start;
}

.vocal,
.emoji,
.chat-message {
    background-color: #E9EBEB;
}

.text-area i {
    color: #6B7376;
}

.active {
    background-color: #E9EBEB;
}

