/* Common */
#app {
    height: 100vh;
    overflow: auto;
}

body {
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    background-color: linear-gradient(to bottom, #009688 20%, white 20% 100%);
}

.background-chat-img {
    background-image: url("../img/mine.jpg");
    object-fit: cover;
    height: 100%;
}

/* Utilities */
.user-info,
.contact-chat {
    background-color: #EAEAEA;
}

.notification {
    background-color: #8EDAFC;
}

.notification-icon>i {
    font-size: 20px;
    background-color: white;
    border-radius: 50%;
    padding: 0.5rem;
    color: #8EDAFC;
}

.search-contacts {
    background-color: #FAFAFA;
}

.search-contacts input {
    border: none;
}

.contacts:hover {
    background-color: #FAFAFA;
}

.chat-actions {
    width: 20%;
}

.send {
    background-color: #D5F9BA;
    padding: 1rem;
    width: 30%;
    border-radius: 1rem;
    align-self: flex-end;
}

.received {
    background-color: white;
    padding: 1rem;
    width: 30%;
    border-radius: 1rem;
    align-self: flex-start;
}

.vocal,
.emoji,
.chat-message {
    background-color: #E9EBEB;
}

.active {
    background-color: #E9EBEB;
}

